<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div id="logoHeader">
            <img src="../static/img/senac.png" alt="logo" width="50px" height="40px">
            <h4>SENAC School</h4>
        </div>
    </header>
    <main>
        <h3>Cadastre-se</h3>
        <form class="container" method="post" action="{{ url_for('register') }}">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" name="username" id="exampleInputEmail1" required>              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirme sua senha</label>
                <input type="password" class="form-control" name="confirmPassword" id="exampleInputPassword1" required>
              </div>
           
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
           
            
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="mb-3">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </main>
    <footer>
        <p>Todos os direitos reservados &copy; 2025</p>
    </footer>
</body>
</html>